[submodule "fundamentos/bloco-06-html-e-css-forms-flexbox-e-responsivo/dia-03-css-flexbox-parte-1/exercicios/exercise-tech-gallery"]
	path = fundamentos/bloco-06-html-e-css-forms-flexbox-e-responsivo/dia-03-css-flexbox-parte-1/exercicios/exercise-tech-gallery
	url = git@github.com:tryber/exercise-tech-gallery.git
