/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
}
article {
}
h1 {
}
h2 {
}
img {
	max-width: 100%;
}
main {
}
section {
}
figure {
	margin: 0;
}
figcaption {
  font-size: .8em;
}

/* referencia para padrao de tamanhos de tela: https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp */

/* Agora que temos um padrão, vamos criar um breakpoint para telas menores de laptops. Para isso nós podemos consultar nossa tabela acima e utilizar o min-width: 768px e quando tivermos em telas menores que 768px esse estilo não vai ser aplicado. Esse será o primeiro breakpoint do layout. Um breakpoint é apenas um ponto onde estamos definindo que o design atual deve mudar. Ok? */

/* Crie uma media query no seu arquivo CSS, usando a dimensão em pixels que você guardou como o min-width que foi apresentado acima. */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: #f8f5f2;
    font-size: 24px;
  }
}

/* Altere a cor de fundo (isso vai te ajudar a perceber quando a media query teve efeito); */

/* Ajuste o tamanho da fonte; */

/* Ajuste as margens da página; */

/* Faça as imagens serem mostradas em duas colunas. */

/* Agora, você vai criar outro breakpoint para telas grandes, como por exemplo, desktops. Para isso você pode consultar novamente nossa tabela com os tamanhos. */

/* Crie uma nova media query no seu arquivo CSS usando a dimensão para telas de desktop e realize os seguintes ajustes dentro do breakpoint (aqui podemos usar o tamanho de tela de 992px): */

/* Altere a cor de fundo; */

/* Ajuste o tamanho da fonte; */

/* Ajuste as margens da página; */

/* Adicione a propriedade max-width à página, para garantir que a largura das linhas não fique muito grande. */