* {
  margin: 0;
  padding: 0;
}

.header-container {
  margin-bottom: 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.input-email {
  margin: 8px;
  width: 80%;
}

.input-password {
  margin: 8px;
  width: 80%;
}